.table {
    border-collapse: collapse;

    tbody {
        tr {
            td {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: top;
                border-top: 1px solid #ddd;
                border-radius: 0px;
            }

            .header {
                width: 30%;
            }
        }
    }
}

.pull-right {
    float: right;
}

.close {
    font-size: 21px;
    font-weight: 700;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}
