.customerEditorContainer {
    background: #fff;
    .mat-card-title {
        font-weight: 600;
        color: #a8a8a8;
        padding: 15px 15px 0;
    }
    .newCustomerEditor {
        padding: 15px 15px 0;
    }
}