<div class="welcomePageContent">
    <md-card class="topSection">
    <md-card-content>
        <div>
            <md-card-title>ADS LLC Automated <br> Data Review Prototype</md-card-title>
            <md-card-subtitle>Powered by Microsoft Azure Machine Learning</md-card-subtitle>

            <md-card-actions>
                <button md-button class="link">Learn More</button>
            </md-card-actions>
        </div>
    </md-card-content>
</md-card>

<div class="flex-container layout-row layout-column-sm no-wrap adsProductContaint">
    <md-card class="grow-2">
        <div class="adsProduct">
            <div><img src="../../../assets/images/echo.png" /></div>
            <div>
                <md-card-title>ECHO</md-card-title>
                <md-card-content>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book
                </md-card-content>
                <md-card-actions>
                    <a href="http://www.adsenv.com/products/echo">
                        <button md-button class="link">Learn More</button>
                    </a>
                </md-card-actions>
            </div>
        </div>
    </md-card>
    <md-card class="grow-2">
        <div class="adsProduct">
            <div><img src="../../../assets/images/rain_alert.png" /></div>
            <div>
                <md-card-title>Rain Alert III</md-card-title>
                <md-card-content>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book
                </md-card-content>
                <md-card-actions>
                    <a href="http://www.adsenv.com/products/rainalert-iii">
                        <button md-button class="link">Learn More</button>
                    </a>
                </md-card-actions>
            </div>
        </div>
    </md-card>
</div>
</div>

<!--
<div class="loginTop">
    <md-card>
        <div>
            <md-card-title>ADS LLC Automated Data Review Prototype</md-card-title>
            <md-card-subtitle>Powered by Microsoft Azure Machine Learning</md-card-subtitle>
        </div>
        <div>
            <md-card-actions>
                <button md-button>Learn More</button>
            </md-card-actions>
        </div>
    </md-card>


</div>

<md-card class="loginCarosel">

    <h1>ADS Core</h1>
    <md-card-actions>
        <button md-button color="primary">Learn More</button>
    </md-card-actions>

</md-card>

<div class="flex-container layout-row layout-column-sm no-wrap">
    <md-card class="grow-3">
        <div class="loginMoreInfo">
            <div><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div>
                <md-card-title>The Triton+ Flow Monitor</md-card-title>
                <md-card-content>
                    This multiple-technology flow monitor will power almost every available sensor technology that is used in wastewater applica­tions
                    today. It is the most versatile and cost-effective, intrinsically safe flow monitor on the market. The
                    TRITON+ includes three multiple-technology sensor options: a Peak Combo Sensor, a Surface Combo Sensor,
                    and an Ultrasonic Level Sensor.
                </md-card-content>
                <md-card-actions>
                    <a href="http://www.adsenv.com/products/triton">
                        <button md-button>Learn More</button>
                    </a>
                </md-card-actions>
            </div>
        </div>
    </md-card>
    <md-card class="grow-3">
        <div class="loginMoreInfo">
            <div><i class="fa fa-podcast" aria-hidden="true"></i></div>
            <div>
                <md-card-title>Manage your Collection System</md-card-title>
                <md-card-content>
                    FlowView Operations™ connects clients to an ADS flow monitoring network, delivering near real-time operational intelligence
                    on the status of flow activity throughout the wastewater collection system. FlowView Operations is a
                    dynamic tool for the management and oversight of collection system operation.
                </md-card-content>
                <md-card-actions>
                    <a href="http://www.adsenv.com/content/flowview-operations">
                        <button md-button>Learn More</button>
                    </a>
                </md-card-actions>
            </div>
        </div>
    </md-card>
    <md-card class="grow-3">
        <div class="loginMoreInfo">
            <div><i class="fa fa-quora" aria-hidden="true"></i></div>
            <div>
                <md-card-title>Get Answers to Your Questions</md-card-title>
                <md-card-content>
                    Sliicer.com is the I/I Answer Engine for online wet and dry weather analyses that improves decision making and lowers project
                    costs. It is a powerful set of online engineering tools designed for both the consulting engineer and
                    the municpal engineer.
                </md-card-content>
                <md-card-actions>
                    <a href="http://www.adsenv.com/products/software/sliicercom">
                        <button md-button>Learn More</button>
                    </a>
                </md-card-actions>
            </div>
        </div>
    </md-card>
</div>

-->

<!--
<md-card>
    <md-card-title>ADS LLC Automated Data Review Prototype</md-card-title>
    <md-card-subtitle>Powered by Microsoft Azure Machine Learning</md-card-subtitle>
    <md-card-content>
        <p>This is supporting text.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
   </md-card-content>
    <md-card-actions>
        <button md-button>Learn More</button>
    </md-card-actions>
</md-card>
<md-card>
    <md-card-title>This is Carousel Area</md-card-title>
    <md-card-subtitle>Need to look into carousel control in Material Design</md-card-subtitle>
    <md-card-content>
        <p>This is supporting text.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
   </md-card-content>
    <md-card-actions>
        <button md-button>Learn More</button>
    </md-card-actions>
</md-card>
-->
<!--<div class="flex-container layout-row layout-column-sm widgets">
  <core-widget icon="comment" [count]="28" description="Comments" [palette]="{palette: 'pink', hue: '400'}"></core-widget>
  <core-widget icon="thumb_up" [count]="831" description="Likes" [palette]="{palette: 'green', hue: '500'}" hexTextColor="#fff"></core-widget>
  <core-widget icon="account_box" [count]="204" description="Sign Ups" [palette]="{palette: 'red', hue: '400'}"></core-widget>
  <core-widget icon="credit_card" [count]="85" description="Sales" [palette]="{palette: 'blue-grey', hue: '600'}"></core-widget>
</div>-->

<!--<div class="flex-container layout-row layout-column-sm no-wrap">
    <md-card class="grow-3">
        <md-card-title>The Triton+ Flow Monitor</md-card-title>
        <md-card-content>
            This multiple-technology flow monitor will power almost every available sensor technology that is used in wastewater applica­tions
            today. It is the most versatile and cost-effective, intrinsically safe flow monitor on the market. The TRITON+
            includes three multiple-technology sensor options: a Peak Combo Sensor, a Surface Combo Sensor, and an Ultrasonic
            Level Sensor.
        </md-card-content>
        <md-card-actions>
            <a href="http://www.adsenv.com/products/triton">
                <button md-button>Learn More</button>
            </a>
        </md-card-actions>
    </md-card>
    <md-card class="grow-3">
        <md-card-title>Manage your Collection System</md-card-title>
        <md-card-content>
            FlowView Operations™ connects clients to an ADS flow monitoring network, delivering near real-time operational intelligence
            on the status of flow activity throughout the wastewater collection system. FlowView Operations is a dynamic
            tool for the management and oversight of collection system operation.
        </md-card-content>
        <md-card-actions>
            <a href="http://www.adsenv.com/content/flowview-operations">
                <button md-button>Learn More</button>
            </a>
        </md-card-actions>
    </md-card>
    <md-card class="grow-3">
        <md-card-title>Get Answers to Your Questions</md-card-title>
        <md-card-content>
            Sliicer.com is the I/I Answer Engine for online wet and dry weather analyses that improves decision making and lowers project
            costs. It is a powerful set of online engineering tools designed for both the consulting engineer and the municpal
            engineer.
        </md-card-content>
        <md-card-actions>
            <a href="http://www.adsenv.com/products/software/sliicercom">
                <button md-button>Learn More</button>
            </a>
        </md-card-actions>
    </md-card>
</div>
-->
<!--<div>
    <md-grid-list cols="3" rowHeight="100px">
        <md-grid-tile>
            <h2>The Triton+ Flow Monitor</h2>
            <div>
                This multiple-technology flow monitor will power almost every available sensor technology that is used in wastewater applica­tions
                today. It is the most versatile and cost-effective, intrinsically safe flow monitor on the market. The TRITON+
                includes three multiple-technology sensor options: a Peak Combo Sensor, a Surface Combo Sensor, and an Ultrasonic
                Level Sensor.
            </div>
            <div>
                <a href="http://www.adsenv.com/products/triton">
                    <button md-button>Learn More</button>
                </a>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>-->