#confirmation-dialog{
    md-card {
        margin: 0 !important;
       
    }
    .submitButn {
    text-align: right;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-right: 10px;
}
.btn-alignment{
    float:right;
}
}
