.contactUsContainer {
    display: table;
    padding: 15px;
    .contactDetails {
        display: block;
        padding-right: 20px;
        .eachContactDetails {
            display: table;
            padding-bottom: 15px;
            .icon {
                display: table-cell;
                vertical-align: middle;
                .b-blue {
                    background-color: #4796EF;
                }
                .b-orange {
                    background-color: #EE911A;
                }
                .b-pink {
                    background-color: #E13979;
                }
                .b-skblue {
                    background-color: #45B5CA;
                }
            }
            .details {
                h3 {
                    margin: 0;
                }
                a {
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.87);
                }
                display: table-cell;
                padding-left: 15px;
                font-size: 14px;
                vertical-align: middle;
            }
            &:last-child {
                padding-bottom: 0px;
            }
        }
        
    }
    .contactMap{
        display: block;
        //vertical-align: middle;
        //border-left: 1px solid #ddd;
        .contactMapImg{
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background: url(../../../../assets/images/map.png) no-repeat center center;
            height: 180px;
            width: 550px;
            display: block;
            border-radius: 4px !important;
            margin: 10px 0px;
            border: 7px solid #ffffff;
            cursor: pointer;
            box-sizing: border-box;
            box-shadow: 7px 7px 7px -2px rgba(0, 0, 0, 0.2), 0 4px 2px 0 rgba(0, 0, 0, 0.14), 0 -2px 5px 0 rgba(0, 0, 0, 0.12);
        }
    }
}
.reportDefectContainer {
    width: 600px;
    md-card {
        padding: 15px 15px 0;
    }
    .fileUplode {
        position: relative;
        label {
            position: absolute;
            top: 16px;
            right: 0;
            cursor: pointer;
            color: #aaa;
        }
    }
}
.customerSupportContainer {
    width: 600px;
    md-card {
        padding: 15px 15px 0;
    }
}
.rateReviewContainer {
    width: 600px;
    md-card {
        padding: 15px 15px 0;
    }
    .headerLabel {
        display: block;
    }
    .rating { 
      border: none;
      float: left;
      label { margin: 0; padding: 0; }
    }
    
    .rating > input { display: none; } 
    .rating > label:before { 
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005";
    }
    
    .rating > .half:before { 
      content: "\f089";
      position: absolute;
    }
    
    .rating > label { 
      color: #ddd; 
     float: right; 
    }
    
    /***** CSS Magic to Highlight Stars on Hover *****/
    
    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
    
    .rating > input:checked + label:hover, /* hover current star when changing rating */
    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
    .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
}

