<div class="content padded modal-dialog">
  <div class="heading">
    <h2 md-dialog-title>File Upload</h2>
    <button md-icon-button md-dialog-close>
          <md-icon>close</md-icon>
        </button>
    <div class="clearfix"></div>
  </div>
  <md-dialog-content>
    <md-card class="file-upload-dialog">
      <md-card-content>
        <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver, 'upload-errors': failedUploads.length > 0 }" (fileOver)="fileOverBase($event)"
          (onFileDrop)="fileDrop($event)" (click)="resetState()" [uploader]="uploader" class="my-drop-zone">
          <input id="files" name="files" type="file" (change)="fileSelectChangeHandler($event)" multiple>
          <label for="files">
              <div *ngIf="!hasFinished && failedUploads.length < 1">
                <div *ngIf="!hasFileDropped">
                  <figure>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                      <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                    </svg>
                  </figure>
                Drop or click to choose a file here...
                </div>
                <div *ngIf="hasFileDropped && !hasFinished">
                  <md-progress-spinner class="overlay-content" mode="indeterminate" color="primary"></md-progress-spinner>
                </div>
              </div> 
                <div class="error-upload-box" *ngIf="!hasFinished && failedUploads.length > 0">
                  <p>{{ uploadFailCount }}/{{ selectedFileCount }} files were not uploaded:</p>
                  <md-list *ngIf="hasFinished && failedUploads.length > 0">
                    <md-list-item *ngFor="let failedFile of failedUploads">{{ failedFile }}</md-list-item>
                  </md-list>
                </div>
            </label>
        </div>
      </md-card-content>
    </md-card>

  </md-dialog-content>
</div>
