<div class="content padded modal-dialog vault-telemetry-dialog">

  <md-dialog-content>
    <div class="heading">
      <h2 md-dialog-title>
        <md-icon>graphic_eq</md-icon>
        Telemetry Data Import
        <p class="sub-title">{{ telemetryData.id }}</p>
      </h2>
      <button md-icon-button md-dialog-close>
        <md-icon>close</md-icon>
      </button>
      <div class="clearfix"></div>
    </div>

    <md-card>
      <md-card-content>
        <p>Data for the following parameters will be overwritten</p>
        <md-list dense>
          <md-list-item>
            <md-icon mdListIcon>date_range</md-icon>
            <p mdLine>{{ telemetryData.import.dateRange }}</p>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item *ngFor="let location of telemetryData.import.locations">
            <md-icon mdListIcon>place</md-icon>
            <p mdLine>{{ location.name }}</p>
          </md-list-item>
        </md-list>
      </md-card-content>


      <md-card-actions>
        <!-- Normal State -->
        <div *ngIf="!isRequestImport; else importRequested">
          <p>&nbsp;</p>
          <button md-raised-button (click)="requestImportDataHandler($event)">Import</button>
        </div>
        <!-- Import Requested State -->
        <ng-template #importRequested>
          <p class="import-requested-warning">Are you sure? This action will overwrite existing data!</p>
          <div><button md-raised-button (click)="handleImport($event)">Confirm Import</button></div>
        </ng-template>
      </md-card-actions>

    </md-card>

  </md-dialog-content>
</div>
