<div class="popupHeader">
  <span>CONTACT US</span>
  <span class="app-flex-filler"></span>
  <span><md-icon title="Close" (click)="emitContactUs()">close</md-icon></span>
</div>
<div class="popupContainer">
  <div class="">
    <md-card>
      <div class="contactUsContainer">
        <div class="contactDetails">
          <div class="eachContactDetails">
            <div class="icon">
              <button md-fab color="accent" class="md-fabIcon-40"> <md-icon>location_on</md-icon></button>
            </div>
            <div class="details">
              <h3>Visit Us</h3>
              <a href="https://goo.gl/maps/9vaEzRc9YH92" target="_blank">340 The Bridge Street, Suite 204 Huntsville, Al 35806 <b>></b></a>
            </div>
          </div>
          <div class="eachContactDetails">
            <div class="icon">
              <button md-fab class="md-fabIcon-40 b-blue"> <md-icon>call</md-icon></button>
            </div>
            <div class="details">
              <h3>Call Us</h3>
              256-430-3366 (inside the U.S. ) 877-237-9585 (toll-free)
            </div>
          </div>
          <div class="eachContactDetails">
            <div class="icon">
              <button md-fab class="md-fabIcon-40 b-orange"> <md-icon>print</md-icon></button>
            </div>
            <div class="details">
              <h3>Fax</h3>
              256-430-6633
            </div>
          </div>
          <div class="eachContactDetails">
            <div class="icon">
              <button md-fab class="md-fabIcon-40 b-pink"> <md-icon>email</md-icon></button>
            </div>
            <div class="details">
              <h3>Write to Us</h3>
              ADSSupportCenter@IDEXCorp.com
            </div>
          </div>
          <div class="eachContactDetails">
            <div class="icon">
              <button md-fab class="md-fabIcon-40 b-skblue"> <md-icon>record_voice_over</md-icon></button>
            </div>
            <div class="details">
              <h3>Online</h3>
              Request a demo <b>></b>
            </div>
          </div>
        </div>
        <div class="contactMap">
          <a class="contactMapImg" href="https://goo.gl/maps/9vaEzRc9YH92" target="_blank"></a>
        </div>
      </div>

    </md-card>
  </div>
</div>